
.result-table{
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.result-box {
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 70%;
  box-shadow: -1px 2px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-bottom: 10px;
  padding-left: 10px; 
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1em;
  margin-bottom: 1.2em;
}

.result-items {
  flex: auto;
  width: 33%;
  height: 100%;
  padding-right: 10px;
}

h1 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

h2 {
  margin-block-start: 0.2em;
  margin-block-end: 0.4em;
}

h3 {
  margin-block-start: 0.15em;
  margin-block-end: 0.4em;
  color: #5e6166;
  padding-top: 5px;
}

p {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  color: #5e6166;
}

button {
  width: 100px;
  height: 30px;
  color: white;
  padding: 5px;
  background: #003f87;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.class-title{
  font-size: 1.7em;
}