.schedule-bar {
    box-shadow: -1px 2px 15px rgba(0, 0, 0, 0.4);    
    display: flex;
    background-color: white;
    padding: 10px;
    height: 30vh;
    position: relative;
    z-index: 2;
}


.vLine{
    width: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 10px;
}

.day-group{
    width: 70%;
    display: flex;
}

.class-list{
    margin-left: 10px;
    width: 30%;
}

.times{
    margin-top: 25px;
    font-size: .8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.crn{
    -webkit-appearance: none;
    outline: none; 
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    width: 100px;
    font-size: 1.1em;
}
.crn::selection{
    background: none;
}

.copy-button{
    margin-right: 6px;
    opacity: 0.75;
}

.remove-button{
    font-weight: 300;
    width: 30px;
    background-color: #FF372A;
    float: right;
}

.title{
    display: inline-block;
    font-size: 1.2em;
}

.course-record{
    margin-bottom: 5px;
}